.header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

.header nav {
    width: 20vw;
    display: flex;
}

.header nav ul {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.header span {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header nav ul li {
    list-style: none;
    font-family: 'Hubballi', cursive;
    font-size: larger;
}

.header h1 {
    padding-top: 18px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header h1 img {
    border-radius: 60px;
    width: 5vw;
    margin-right: 30px;
    height: 10vh;
}

.header .action {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header .action button {
    width: 8vw;
    height: 6vh;
    border-radius: 10px;
    border: .2px solid grey;
    cursor: pointer;
    background-color: transparent;
}

.header .action button:hover {
    transition: .6s;
    background-color: #ff8100;
    color: white;
}

#mobile {
    display: none;
    align-items: center;
}

.footer {
    width: 100vw;
    height: 20vh;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.footer .social {
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer .social img {
    width: 3vw;
    height: 5vh;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#insta:hover {
    background-color: #E4405F;
    transition: .4s;
}

#linked:hover {
    background-color: #0A66C2;
    transition: .4s;
}

#facebook:hover {
    background-color: #1877F2;
    transition: .4s;
}

@media (max-width:992px) {
    .header {
        flex-direction: column-reverse;
        margin-top: 15vh;
        height: 40vh;
        font-size: larger;
    }

    .header nav {
        width: 100vw;
        justify-content: space-evenly;
    }

    .header nav ul {
        width: 100vw;
    }

    .header nav ul li {
        margin: 20px;
        font-size: larger;
    }

    .header h1 img {
        width: 15vh;
        height: 15vh;
    }

    .header .action {
        margin-top: 30px;
        width: 100vw;
    }

    .header .action button {
        width: 30vw;
    }

    .hero button {
        width: 30vw;
        height: 6vh;
        margin-top: 30px;
        border-radius: 80px;
        border: 0.3px solid grey;
        background-color: #ff8100;
        color: white;
        cursor: pointer;
    }

    .main {
        flex-direction: column;
        height: 100vh;
    }

    .main .left {
        width: 100vw;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .main .left img {
        width: 100vw;
    }

    .main .right {
        width: 100vw;
        background-color: white;
    }

    .main .right p {
        width: 80vw;
        text-align: center;
        font-size: larger;
    }

    .main .right h2,
    h1,
    h3 {
        padding-bottom: 20px;
        width: 85vw;
    }

    .glimpses {
        height: 250vh;
        flex-direction: column;
        align-items: center;
    }

    .glimpses .g1 {
        width: 80vw;
    }

    .glimpses .g1 img {
        width: 80vw;
    }
}

@media (max-width:735px) {
    .info img {
        width: 70vw;
    }

    .products {
        height: 350vh;
    }

    .products .row {
        flex-direction: column;
        align-items: center;
        height: 80vh;
        margin: 0;
        padding: 0;
    }

    .products .row .cat {
        width: 80vw;
    }

    .products .row .cat img {
        width: 40vw;
    }
}

@media (max-height:380px) {
    .header {
        height: 50vh;
    }

    .detail {
        height: 150vh;
    }
}

@media (max-height:420px) {
    .info {
        height: 200vh;
    }

    .glimpses {
        height: 270vh;
    }

    .glimpses .g1 {
        height: 90vh;
        margin-top: 30px;
    }

    .products {
        height: 300vh;
    }
}

@media (max-width:1000px) {
    .footer {
        flex-direction: column;
    }

    .footer h3 {
        width: 100vw;
        text-align: center;
    }

    .footer .social {
        width: 100vw;
    }

    .footer .social img {
        width: 10vw;
        background-color: transparent;
    }
}